@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* STYLE RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    min-width: 300px;
    max-width: 2600px;
    overflow: auto;
    background-color: #121212;
    color: #f6f6f6;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 40px;
}
ul, ol {
    list-style: none;
    list-style-type: none;
    color: #f6f6f6;
}
a {
    text-decoration: none;
    color: #f6f6f6;
}
p, h1, h2, h3, h4, h5, h6 {
    color: #f6f6f6;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

/* PAGE */

body {
    text-align: center;
}

.sticky {
    height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-bar {
    background: #1c1c1a;
    width: 680px;
    height: 55px;
    border-bottom: 1px solid #eee4c0;
    border-left: 1px solid #8d8d8b;
    border-top: 1px solid #8d8d8b;
    border-right: 1px solid #8d8d8b;
    display: flex;
    margin-top: auto;
}

  
.transformed-state {
    transform: translate(328px, -328px) rotate(90deg);
}

.transformed-state2 {
    transform: rotate(-90deg);
}

.transformed-state3 {
    transform: rotate(-90deg);
}

 

.more {
    display: flex;
    color: #eee4c0;
    height: 100%;
    width: 15px;
    background: linear-gradient(90deg, #7a614d 15%, #2d220c, #312916);
    justify-content: center;
    padding-top: 12px;
    font-size: 11px;
}

.more i {
    height: 12px;
}

.more i:hover  {
    text-shadow: 0px 0px 5px #eee4c0;
}

.other-bar {
    display: grid;
    grid-template-columns: 15px;
    grid-template-rows: 15px 25px 15px;
    
}

.bar-up {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #eee4c0;
    background: linear-gradient(#98896a, #302f1b);
    border: 1px solid #fffce3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
}

.bar-up:hover {
    background: linear-gradient(#beab84, #5e5c35);
}

.bar-number {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #eee4c0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
}

.bar-down {
    grid-column: 1/2;
    grid-row: 3/4;
    color: #eee4c0;
    background: linear-gradient(#98896a, #302f1b);
    border: 1px solid #fffce3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
}

.bar-down:hover {
    background: linear-gradient(#beab84, #5e5c35);
}

.skills {
    display: flex;
    padding: 2px 0 2px 3px;
}

.skill {
    display: inline-block;
    height: 48px;
    width: 48px;
    background: #11110f;
    border: 1px solid #828280;
}

.skill-1,
.skill-2,
.skill-3,
.skill-5,
.skill-6,
.skill-7,
.skill-9,
.skill-10,
.skill-11 {
    margin-right: 3px;
}
.skill-4,
.skill-8,
.skill-12 {
    margin-right: 8px;
}

.skill-12:hover {
    cursor: pointer;
}

.skill p {
    font-size: 13px;
    font-weight: 500;
    color: #e7d4ac;
    display: flex;
    padding: 0;
    margin: -4px 0 0 -1px;
    position: absolute;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
      z-index: 10;
}

.additional-functions {
    display: grid;
    grid-template-columns: 15px;
    grid-template-rows: 1fr 16px 18px;

    height: 100%;
    width: 15px;
}

.rotate {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #eee4c0;
    font-size: 10px;
    background: linear-gradient(#98896a, #302f1b);
    border: 1px solid #fffce3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

.rotate:hover {
    background: linear-gradient(#beab84, #5e5c35);
}

.rotate i {
    transform: rotate(50deg);
}

.lock-unlocked {
    grid-column: 1/2;
    grid-row: 3/4;
    color: #eee4c0;
    font-size: 8px;
    background: linear-gradient(#98896a, #302f1b);
    border: 1px solid #fffce3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.lock-unlocked:hover {
    background: linear-gradient(#beab84, #5e5c35);
}

.lock-locked {
    display: none;
    grid-row: 3/4;
    color: #eee4c0;
    font-size: 8px;
    background: linear-gradient(#98896a, #302f1b);
    border: 1px solid #fffce3;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.hide-lock {
    display: none;
}

.unhide-lock {
    display: inline;
}



.item-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #261305 25%, #e79065);
}

.soulshot {
    width: 20px;
    height: 40px;
    background: linear-gradient(90deg, #061f3e 15%, #164366, #306db6, #82aeeb);
    border-radius: 45% / 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    
}

.black-rect {
    background: linear-gradient(90deg,#483720, #d3b97b);
    width: 100%;
    height: 45%;
    border-radius: 100% / 5%;
}

.rect {
    background: #0c0800;
    position: absolute;
    filter: drop-shadow(1px 1px 2px #291609);
}

.rect:not(.rect-4):not(.rect-6):not(.rect-7):not(.rect-9) {
    background: transparent;
    width: 0;
    height: 0;
}
.rect-4,
.rect-6,
.rect-7,
.rect-9 {
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
}

.rect-1 {
    border-top: 3px solid transparent;
    border-left: 3px solid #0c0800;
    border-bottom: 3px solid transparent;
    margin-left: 1px;
    margin-top: 2px;
}

.rect-2 {
    border-top: 3px solid transparent;
    border-left: 3px solid #0c0800;
    border-bottom: 3px solid transparent;
    margin-left: 1px;
    margin-top: 10px;
}


.rect-3 {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #0c0800;
    margin-left: 3px;
    margin-top: 1px;
}

.rect-4 {
    margin-left: 4px;
    margin-top: 6.9px;
}

.rect-5 {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #0c0800;
    margin-left: 3px;
    margin-top: 14px;
}

.rect-6 {
    margin-left: 8px;
    margin-top: 2.9px;
}

.rect-7 {
    margin-left: 8px;
    margin-top: 10.9px;
}

.rect-8 {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #0c0800;
    margin-left: 12px;
    margin-top: 1px;
}

.rect-9 {
    margin-left: 12px;
    margin-top: 6.9px;
}

.rect-10 {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #0c0800;
    margin-left: 12px;
    margin-top: 14px;
}

.rect-11 {
    border-top: 3px solid transparent;
    border-right: 3px solid #0c0800;
    border-bottom: 3px solid transparent;
    margin-left: 16px;
    margin-top: 2px;
}

.rect-12 {
    border-top: 3px solid transparent;
    border-right: 3px solid #0c0800;
    border-bottom: 3px solid transparent;
    margin-left: 16px;
    margin-top: 10px;
}


.activated {
    width: 48px;
    height: 48px;
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
    z-index: 1;
    background:rgba(117, 117, 117, 0.2);
}

.activated-inside {
    width: 36px;
    height: 36px;
    z-index: 20;
    background:rgba(110, 110, 110, 0.2);
    margin-left: 6px;
    margin-top: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.side-1,
.side-2,
.side-3,
.side-4 {
    display: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    height: 5px;
    width: 7px;
}

.activated-side1 {
   display: block;
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   transform: translate(43px, 3px) rotate(-45deg);
}

.activated-side2 {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: translate(40px, 43px) rotate(45deg);
}

.activated-side3 {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: translate(2px, 43px) rotate(-45deg);
}

.activated-side4 {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: translate(-1px, 3px) rotate(45deg);
}




.active-inside {
    overflow: hidden;
}

.glare-move {
    position: absolute;
    opacity: 0;
    height: 6px;
    width: 65px;
    background: rgba(167, 167, 167, 0.4);
    transform: rotate(45deg) translate(8px, 50px);
}

.activated-glareMove {
    position: relative;
    opacity: 1;
    animation: glareMove 2s linear forwards infinite;
}

@keyframes glareMove {
    0% {
        transform: rotate(45deg) translate(8px, 50px);
    }

    70% {
        transform: rotate(45deg) translate(-4px, -8px);
    }

    100% {
        transform: rotate(45deg) translate(-4px, -8px);
    }
}



.glare-left {
    position: absolute;
    height: 49px;
    width: 6px;
    margin-top: -42px;
    clip-path: polygon(
    0% 0%,
    100% 13%,
    100% 87%,
    0% 100%
  );
}

.glareLeft-move {
    position: absolute;
    opacity: 0;
    height: 30px;
    width: 5px;
    margin-left: 1px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(50px);
    clip-path: polygon(
    0% 13%,
    100% 0%,
    100% 87%,
    0% 100%
  );
}

.activated-glareLeft {
    position: relative;
    opacity: 1;
    animation: glareLeftMove 2s linear forwards infinite;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes glareLeftMove {
    0% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-27px);
    }

    100% {
        transform: translateY(-27px);
    }
}


.glare-bot {
    position: absolute;
    height: 6px;
    width: 49px;
    overflow: hidden;
    clip-path: polygon(
    13% 0%,
    87% 0%,
    100% 100%,
    0% 100%
  );
}

.glareBot-move {
    position: absolute;
    opacity: 0;
    height: 6px;
    width: 30px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-27px);
    clip-path: polygon(
    13% 0%,
    100% 0%,
    87% 100%,
    0% 100%
  );
}


.activated-glareBot {
    position: relative;
    opacity: 1;
    animation: glareBotMove 2s linear forwards infinite;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes glareBotMove {
    0% {
        transform: translateX(-27px);
    }

    50% {
        transform: translateX(57px);
    }

    100% {
        transform: translateX(57px);
    }
}


.glare-right {
    position: absolute;
    height: 49px;
    width: 6px;
    margin-top: -42px;
    margin-left: 42px;
    clip-path: polygon(
    0% 13%,
    100% 0%,
    100% 100%,
    0% 87%
  );
}

.glareRight-move {
    position: absolute;
    opacity: 1;
    height: 30px;
    width: 5px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(50px);
    clip-path: polygon(
    0% 0%,
    100% 13%,
    100% 100%,
    0% 87%
  );
}

.activated-glareRight {
    position: relative;
    opacity: 1;
    animation: glareRightMove 2s linear forwards infinite;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes glareRightMove {
    0% {
        transform: translateY(50px);
    }

    25% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(-35px);
    }
}


.glare-top {
    position: absolute;
    height: 5px;
    width: 49px;
    overflow: hidden;
    margin-top: -41px;
    clip-path: polygon(
    0% 0%,
    100% 0%,
    87% 100%,
    13% 100%
  );
}

.glareTop-move {
    position: absolute;
    opacity: 0;
    height: 6px;
    width: 30px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-27px);
    clip-path: polygon(
    0% 0%,
    87% 0%,
    100% 100%,
    13% 100%
  );
}


.activated-glareTop {
    position: relative;
    opacity: 1;
    animation: glareTopMove 2s linear forwards infinite;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes glareTopMove {
    0% {
        transform: translateX(-27px);
    }

    35% {
        transform: translateX(-27px);
    }

    100% {
        transform: translateX(57px);
    }
}